//global variables 
$main_color: var(--main-color);
$second_color: var(--second-color);
$dark_color: var(--dark-color);
$gray: #7a8a9e;
$padding_section: 70px 0;
//global styles

//mixins
@mixin borderRadius($border) {
    border-radius: $border;
    -webkit-border-radius: $border;
    -moz-border-radius: $border;
    -ms-border-radius: $border;
    -o-border-radius: $border;
}

@mixin transition($trans) {
    transition: $trans;
    -webkit-transition: $trans;
    -moz-transition: $trans;
    -ms-transition: $trans;
    -o-transition: $trans;
}

@mixin transform($transform) {
    transform: $transform;
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
}

@mixin animation($anim) {
    animation: $anim;
    -webkit-animation: $anim;
    -moz-animation: $anim;
    -ms-animation: $anim;
    -o-animation: $anim;
}

@mixin animationDelay($anim) {
    -webkit-animation-delay: $anim;
    -moz-animation-delay: $anim;
    -ms-animation-delay: $anim;
    -o-animation-delay: $anim;
    animation-delay: $anim;
}

@mixin boxshadow($shadow) {
    box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    -o-box-shadow: $shadow;
}

//mixins

//placeholder selectors
%center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%overflow_text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

%overlay {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

%before {
    content: "";
    position: absolute;
}

%fitimage {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

%max_lines {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

%max_one_line {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

//placeholder selectors

//main title
.main-title {
    margin-bottom: 4rem;
    position: relative;

    h2 {
        display: inline-block;
        font-size: 36px;
        color: $dark_color;
        position: relative;
        text-transform: capitalize;
        font-weight: 600;
        margin-bottom: 20px;
        padding-bottom: 15px;

        .diff-color {
            color: var(--main-color);
            margin-inline-end: 5px;
            margin-inline-start: 5px;
        }

        &::after {
            position: absolute;
            content: "";
            left: calc(50% - 20%);
            bottom: 0;
            height: 2px;
            width: 40%;
            background-color: $main_color;
        }
    }

    .top-title {
        color: $main_color;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        font-weight: 600;
        position: relative;
        font-size: 20px;

        &::before {
            display: inline-block;
            content: "";
            left: 0;
            top: 50%;
            height: 1px;
            width: 40px;
            background-color: $main_color;
            margin-inline-end: 20px;
        }

        &::after {
            display: inline-block;
            content: "";
            left: 0;
            top: 50%;
            height: 1px;
            width: 40px;
            background-color: $main_color;
            margin-inline-start: 20px;
        }
    }

    p {
        max-width: 770px;
        margin: auto;
        line-height: 1.8;
        color: $gray;
    }
}

//main title

//more btn
.btn-more {
    margin-top: 20px;

    .btn {
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        @include transition(all ease 0.3s);
        @include borderRadius(0);
        padding: 0;
        background-color: transparent;
        color: $main_color;
        text-align: center;

        i {
            font-size: 18px;
            margin-inline-start: 5px;

            &::before {
                @include transition(all ease 0.3s);
                vertical-align: -2px;
            }
        }

        &:hover {
            i {
                &::before {
                    @include transform(translateX(10px))
                }
            }
        }
    }
}

//more btn

//to top button
#toTop {
    position: fixed;
    right: 15px;
    bottom: 15px;
    margin: 0;
    z-index: 99;
    display: none;

    button {
        background-color: var(--main-color);
        width: 45px;
        height: 45px;
        border: none;
        color: #fff;
    }
}

//to top button

//main broadcrumb
.main-breadcrumb {
    padding: 1.5rem 0;

    ol {
        margin: 0;
        padding: 0;
    }

    .breadcrumb {
        .breadcrumb-item {
            font-size: 14px;
            text-transform: capitalize;

            &.active {
                color: #6c6b6b;
                font-weight: 500;
            }

            &::before {
                color: #6c6b6b;
            }
        }
    }
}

//main broadcrumb

//if no data
.nothing {
    font-size: 20px;
    font-weight: 500;
    color: var(--dark-color);
    text-transform: capitalize;
    text-align: center
}

//if no data

//global styles
.btn,
.btn-close {
    &:focus {
        box-shadow: none;
        outline: none;
    }
}

dl,
ol,
ul {
    padding: 0;
    padding-inline-start: 20px;
}

.modal-backdrop.show {
    opacity: .7;
}

a {
    text-decoration: none;
}

.form-check-input:checked {
    background-color: $main_color;
    border-color: $main_color;
}

.alert {
    font-size: 14px;
    @include borderRadius(0);

    strong {
        margin-inline-end: 5px;
    }
}

//global styles

$base: #263238;
$lite:  #FFF;
$brand: #FF3D00;
$size: 48px;

//loader
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: $second_color;
    display: flex;
    justify-content: center;
    align-items: center;

    video {
        max-width: 100%;
    }

    .loader-circles {
        width: 5rem;
        height: 5rem;
        display: inline-block;
        position: relative;

        &::after,
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 3px solid $main_color;
            position: absolute;
            left: 0;
            top: 0;
            animation: animloader14 2s linear infinite;
        }

        &::after {
            animation-delay: 1s;
        }
    }
}

@keyframes animloader14 {
    0% {
        @include transform(scale(0));
        opacity: 1;
    }

    100% {
        @include transform(scale(1));
        opacity: 0;
    }
}

//loader