//to top
div(id="toTop")
	button 
		i(class="bi bi-chevron-double-up")
//to top

//footer part
footer
	div(class="container")
		div(class="footer-content")
			div(class="row")
				div(class="col-lg-4")
					div(class="footer-box")
						div(class="text")
							a(href="index.html" class="footer-logo") 
								img(data-src="images/logo.png" class="img-fluid mb-2" alt="")
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, nostrum sed. Sit obcaecati eligendi facilis quod commodi, dolorum consequatur, doloremque excepturi voluptatibus mollitia saepe? Deserunt quod rerum odio officia laudantium! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, nostrum sed. Sit obcaecati eligendi facilis quod commodi, dolorum consequatur, doloremque excepturi voluptatibus mollitia saepe? Deserunt quod rerum odio officia laudantium!
				div(class="col-lg-5")
					div(class="footer-box")
						h3 useful links
						ul(class="map-links")
							li
								a(href="terms.html") terms & policy 
							li
								a(href="knowledge.html") our knowledge
						div(class="send-us")
							form(action="" method="")
								div(class="input-group")
									input(class="form-control" type="text" placeholder="Enter your email" aria-label="Recipient's username" aria-describedby="subscribeBtn")
									button(class="btn btn-outline-secondary" id="subscribeBtn" type="button") Subscribe
				div(class="col-lg-3")
					div(class="footer-box")
						h3 contact info
						div(class="contact")
							p 
								i(class="bi bi-pin-map")
								| cairo, egypt
							p 
								i(class="bi bi-telephone")
								a(href="tel:01112121212") 01112121212
							p 
								i(class="bi bi-envelope")
								a(href="mailto:support@example.com") support@example.com
						div(class="social-links")
							//- h4 Follow Us
							div(class="links")
								a(href="#" class="bi bi-facebook")
								a(href="#" class="bi bi-twitter")
								a(href="#" class="bi bi-instagram")
								a(href="#" class="bi bi-linkedin")
		div(class="copyright")
			div(class="copy-text")
				p all copyright is reseved &copy; 2022
					a(href="#" class="comp") Yassien & partners
//footer part