//theme colors
//- div(class="theme-colors")
	div(class="show-icon")
		div(class="icon")
			i(class="bi bi-gear")
	span main color
	div(class="main-color")
		ul
			li(data-color="#BF0000" style="background-color: #BF0000") 
			li(data-color="#FAC302" style="background-color: #FAC302") 
			li(data-color="#09E340" style="background-color: #09E340") 
			li(data-color="#0224FA" style="background-color: #0224FA") 
			li(data-color="#009688" style="background-color: #009688") 
		input(class="pick-color" type="color")
	span dark color
	div(class="dark-color")
		ul
			li(data-color="#000000" style="background-color: #000000") 
			li(data-color="#362222" style="background-color: #362222") 
			li(data-color="#171010" style="background-color: #171010") 
			li(data-color="#423F3E" style="background-color: #423F3E") 
			li(data-color="#2B2B2B" style="background-color: #2B2B2B") 
		input(class="pick-color" type="color")
//theme colors

//to top
div(id="toTop")
	button 
		i(class="bi bi-chevron-double-up")
//to top

//footer part
footer
	div(class="container")
		div(class="footer-content")
			div(class="row")
				div(class="col-lg-4 col-md-6")
					div(class="footer-box")
						div(class="text")
							a(href="index.html" class="footer-logo") 
								img(data-src="images/logo-white.png", class="img-fluid mb-4" alt="")
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, nostrum sed. Sit obcaecati eligendi facilis quod commodi, dolorum consequatur, doloremque excepturi voluptatibus mollitia saepe? Deserunt quod rerum odio officia laudantium!
						div(class="social-links")
							h4 Follow on Socials
							div(class="links")
								a(href="#", class="bi bi-facebook")
								a(href="#", class="bi bi-twitter")
								a(href="#", class="bi bi-instagram")
								a(href="#", class="bi bi-linkedin")
				div(class="col-lg-4 col-md-6")
					div(class="footer-box")
						h3 useful links
						ul(class="map-links")
							li
								a(href="#!") home
							li
								a(href="about.html") about us
							li
								a(href="services.html") services
							li
								a(href="blogs.html") blogs
							li
								a(href="contact.html") contact us
				div(class="col-lg-4 col-md-12")
					div(class="footer-box")
						h3 last services
						ul(class="map-links")
							li
								a(href="#!") Daily Home Care`
							li
								a(href="services.html") Lorem ipsum dolor sit amet consectetur
							li
								a(href="services.html") Daily Home Care
							li
								a(href="services.html") Lorem ipsum dolor sit amet consectetur
							li
								a(href="services.html") Specialized Care
		div(class="copyright")
			div(class="copy-text")
				p all copyright is reseved &copy;
					a(href="#") DeltaITech
//footer part