//main slider
section(class="main-slider")
    div(class="bg-video-wrap")
        video(src="video/intro.mp4", loop, muted, autoplay)
        div(class="overlay")
        div(class="main-slider-carousel owl-carousel owl-theme")
            div(class="slider-item")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") title of text section
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        div(class="item-btn")
                            a(href="#!" class="btn") Get Started Now
            div(class="slider-item")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") title of text section
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        div(class="item-btn")
                            a(href="#!" class="btn") Get Started Now
            div(class="slider-item")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") title of text section
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        div(class="item-btn")
                            a(href="#!" class="btn") Get Started Now
    //- div(class="main-slider-carousel owl-carousel owl-theme")
        div(class="slider-item")
            img(class="img-fluid" data-src="images/slider/01.jpg" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") title of text section
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        div(class="item-btn")
                            a(href="#!" class="btn") Get Started Now
                            a(href="#!" class="btn diff") all services
        div(class="slider-item")
            img(class="img-fluid" data-src="images/slider/02.jpg" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") title of text section
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        div(class="item-btn")
                            a(href="#!" class="btn") Get Started Now
                            a(href="#!" class="btn diff") all services
        div(class="slider-item")
            img(class="img-fluid" data-src="images/slider/03.jpg" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") title of text section
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        div(class="item-btn")
                            a(href="#!" class="btn") Get Started Now
                            a(href="#!" class="btn diff") all services
//main slider

//about us
section(class="about")
    img(src="images/about/just.png" class="just img-fluid" alt="")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-6")
                    div(class="about-image")
                        img(class="img-fluid" data-src="images/about/about.jpg" alt="")
                div(class="col-lg-6 d-flex flex-column justify-content-center")
                    div(class="main-title")
                        span(class="top-title") Yassien & Partners
                        h2 Who we are?
                    div(class="about-text")
                        //- h3 Who we are? 
                        p Yassien & Partners law firm is one, among others, of the promising law firms in Egypt, after being announced to be established in late 2007. We were committed to providing our clients with the most professional and precise legal services at very competitive fees. Protecting our clients’ interests is crucial to us; thus, we always assure to assign the requested work to the most qualified and professional lawyers and legal experts who are part of our team
                    div(class="about-btn")
                        a(href="about.html" class="btn") read more
                            i(class="bi bi-arrow-right")
//about us

//counter
section(class="counter-numbers")
    div(class="container")
        div(class="content")
            div(class="counter-boxs")
                div(class="row")
                    div(class="col-lg-4 col-12 col")
                        div(class="single-box")
                            div(class="icon")
                                i(class="bi bi-ui-checks")
                            div(class="number")
                                span(class="counter") 200
                                span(class="plus") +
                            div(class="text")
                                h3 Projects
                    div(class="col-lg-4 col-12 col")
                        div(class="single-box")
                            div(class="icon")
                                i(class="bi bi-briefcase")
                            div(class="number")
                                span(class="counter") 1000
                                span(class="plus") +
                            div(class="text")
                                h3 Cases
                    div(class="col-lg-4 col-12 col")
                        div(class="single-box")
                            div(class="icon")
                                i(class="bi bi-people")
                            div(class="number")
                                span(class="counter") 300
                                span(class="plus") +
                            div(class="text")
                                h3 Clients
//counter

//news
section(class="news")
    div(class="container")
        div(class="main-title")
            div(class="title-part")
                span(class="top-title") Our News
                h2 Every Single Updates
            div(class="btns-part")
                a(href="single-blog.html" class="btn details-btn") more news
        div(class="content")
            div(class="row")
                div(class="col-lg-6")
                    div(class="news-box")
                        div(class="image")
                            a(href="single-blog.html") 
                                img(class="img-fluid" data-src="images/news/01.jpg" alt="")
                        div(class="details")
                            ul(class="meta")
                                li(class="date")
                                    i(class="bi bi-calendar")
                                    | August 18, 2018
                            h3(class="title")
                                a(href="single-blog.html") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            div(class="read-more")
                                a(href="single-blog.html") read more
                                    i(class="bi bi-arrow-right")
                div(class="col-lg-6")
                    div(class="news-box")
                        div(class="image")
                            a(href="single-blog.html") 
                                img(class="img-fluid" data-src="images/news/02.jpg" alt="")
                        div(class="details")
                            ul(class="meta")
                                li(class="date")
                                    i(class="bi bi-calendar")
                                    | August 18, 2018
                            h3(class="title")
                                a(href="single-blog.html") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            div(class="read-more")
                                a(href="single-blog.html") read more
                                    i(class="bi bi-arrow-right")
                div(class="col-lg-6")
                    div(class="news-box")
                        div(class="image")
                            a(href="single-blog.html") 
                                img(class="img-fluid" data-src="images/news/03.jpg" alt="")
                        div(class="details")
                            ul(class="meta")
                                li(class="date")
                                    i(class="bi bi-calendar")
                                    | August 18, 2018
                            h3(class="title")
                                a(href="single-blog.html") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            div(class="read-more")
                                a(href="single-blog.html") read more
                                    i(class="bi bi-arrow-right")
                div(class="col-lg-6")
                    div(class="news-box")
                        div(class="image")
                            a(href="single-blog.html") 
                                img(class="img-fluid" data-src="images/news/04.jpg" alt="")
                        div(class="details")
                            ul(class="meta")
                                li(class="date")
                                    i(class="bi bi-calendar")
                                    | August 18, 2018
                            h3(class="title")
                                a(href="single-blog.html") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            div(class="read-more")
                                a(href="single-blog.html") read more
                                    i(class="bi bi-arrow-right")
//news

//blogs
section(class="blogs")
    div(class="container")
        div(class="main-title")
            div(class="title-part")
                span(class="top-title") our blogs
                h2 yassien blogs
            div(class="btns-part")
                a(href="single-blog.html" class="btn details-btn") more blogs
        div(class="content")
            div(class="row")
                div(class="col-lg-4 col-md-6 box")
                    div(class="blog-box")
                        div(class="image")
                            img(class="img-fluid" data-src="images/blogs/01.jpg" alt="")
                            a(href="single-blog.html" class="layer") 
                                i(class="bi bi-link")
                        div(class="details")
                            h3(class="title")
                                a(href="single-blog.html") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
                            ul(class="meta")
                                li(class="date")
                                    i(class="bi bi-calendar")
                                    | August 18, 2018
                                li(class="auther")
                                    i(class="bi bi-pencil-square")
                                    | by 
                                    a(href="#!") Ahmed Saif
                div(class="col-lg-4 col-md-6 box")
                    div(class="blog-box")
                        div(class="image")
                            img(class="img-fluid" data-src="images/blogs/02.jpg" alt="")
                            a(href="single-blog.html" class="layer") 
                                i(class="bi bi-link")
                        div(class="details")
                            h3(class="title")
                                a(href="single-blog.html") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
                            ul(class="meta")
                                li(class="date")
                                    i(class="bi bi-calendar")
                                    | August 18, 2018
                                li(class="auther")
                                    i(class="bi bi-pencil-square")
                                    | by 
                                    a(href="#!") Marwan
                div(class="col-lg-4 col-md-6 box")
                    div(class="blog-box")
                        div(class="image")
                            img(class="img-fluid" data-src="images/blogs/03.jpg" alt="")
                            a(href="single-blog.html" class="layer") 
                                i(class="bi bi-link")
                        div(class="details")
                            h3(class="title")
                                a(href="single-blog.html") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
                            ul(class="meta")
                                li(class="date")
                                    i(class="bi bi-calendar")
                                    | August 18, 2018
                                li(class="auther")
                                    i(class="bi bi-pencil-square")
                                    | by 
                                    a(href="#!") Nadeen
//blogs

//clients
section(class="clients")
    div(class="container")
        div(class="main-title")
            span(class="top-title") clients area
            h2 our clients
        div(class="content")
            div(class="clients-carousel owl-carousel owl-theme")
                div(class="item")
                    a(href="#!") 
                        img(class="img-fluid" data-src="images/clients/01.png" alt="")
                div(class="item")
                    a(href="#!") 
                        img(class="img-fluid" data-src="images/clients/02.png" alt="")
                div(class="item")
                    a(href="#!") 
                        img(class="img-fluid" data-src="images/clients/03.png" alt="")
//clients

//why us
//- section(class="why-us")
    div(class="container")
        div(class="main-title")
            span(class="top-title") Our commitment
            h2 why you should choose us
            p We’ve combined a new kind of doctor’s experience that blends the highest level of health care with exceptional service. People can enroll membership by paying $129.
        div(class="content")
            div(class="why-carousel owl-carousel owl-theme")
                div(class="why-box")
                    div(class="icon")
                        i(class="bi bi-emoji-laughing")
                    h4(class="title")
                        a(href="single-why.html") Lorem ipsum dolor
                    p We set accurate schedules and follow closely to achieve efficiency.
                div(class="why-box")
                    div(class="icon")
                        i(class="bi bi-emoji-laughing")
                    h4(class="title")
                        a(href="single-why.html") Lorem ipsum dolor
                    p We set accurate schedules and follow closely to achieve efficiency.
                div(class="why-box")
                    div(class="icon")
                        i(class="bi bi-emoji-laughing")
                    h4(class="title")
                        a(href="single-why.html") Lorem ipsum dolor
                    p We set accurate schedules and follow closely to achieve efficiency.
                div(class="why-box")
                    div(class="icon")
                        i(class="bi bi-emoji-laughing")
                    h4(class="title")
                        a(href="single-why.html") Lorem ipsum dolor
                    p We set accurate schedules and follow closely to achieve efficiency.
                div(class="why-box")
                    div(class="icon")
                        i(class="bi bi-emoji-laughing")
                    h4(class="title")
                        a(href="single-why.html") Lorem ipsum dolor
                    p We set accurate schedules and follow closely to achieve efficiency.
            div(class="why-btn")
                p Don’t hesitate, contact us for better help and services.
                    a(href="why.html" class="btn") Let’s get started
//why us

//contact us
//- section(class="contact")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-4 p-0")
                    div(class="image")
                        img(src="images/bgs/contact.jpg" class="img-fluid" alt="")
                div(class="col-lg-8 p-0")
                    div(class="contact-form")
                        div(class="main-title")
                            h2 contact us now
                        form(class="needs-validation" novalidate)
                            div(class="row")
                                div(class="col-lg-6")
                                    div(class="form-group position-relative")
                                        label(for="") your name *
                                        input(type="text" class="form-control" placeholder="Name" required)
                                div(class="col-lg-6")
                                    div(class="form-group position-relative")
                                        label(for="") your email *
                                        input(type="email" class="form-control" placeholder="Email" required)
                                div(class="col-lg-6")
                                    div(class="form-group position-relative")
                                        label(for="") your number *
                                        input(type="number" class="form-control" placeholder="Phone" required)
                                div(class="col-lg-6")
                                    div(class="form-group")
                                        label(for="") select thing *
                                        select(class="form-select") 
                                            option(disabled, selected) Select an option
                                            option(value="1") option 01
                                            option(value="2") option 02
                                div(class="col-lg-12")
                                    div(class="form-group")
                                        label(for="") your message *
                                        textarea(class="form-control" rows="5" placeholder="Leave a comment here")
                            div(class="contact-btn")
                                button(class="btn" type="submit") send now
//contact us

//subscribe
section(class="subscribe")
    div(class="container")
        div(class="content")
            div(class="subscribe-form")
                div(class="main-title")
                    span(class="top-title") Get More Updates
                    h2 Subscribe newsletter
                form(action="" method="")
                    div(class="input-group")
                        input(class="form-control" type="text" placeholder="Enter your email" aria-label="Recipient's username" aria-describedby="subscribeBtn")
                        button(class="btn btn-outline-secondary" id="subscribeBtn" type="button") Subscribe
//subscribe

//partners
section(class="clients")
    div(class="container")
        div(class="main-title")
            span(class="top-title") Our Partners 
            h2 Our Partners and memberships
        div(class="content")
            div(class="clients-carousel owl-carousel owl-theme")
                div(class="item")
                    a(href="#!") 
                        img(class="img-fluid" data-src="images/clients/01.png" alt="")
                div(class="item")
                    a(href="#!") 
                        img(class="img-fluid" data-src="images/clients/02.png" alt="")
                div(class="item")
                    a(href="#!") 
                        img(class="img-fluid" data-src="images/clients/03.png" alt="")
//partners