//main slider
section(class="main-slider")
    div(class="bg-video-wrap")
        video(src="video/intro.webm", loop, muted, autoplay)
        div(class="overlay")
        div(class="main-slider-carousel owl-carousel owl-theme")
            div(class="slider-item")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") title of text section
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        div(class="item-btn")
                            a(href="contact.html" class="btn") Get Started Now
            div(class="slider-item")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") title of text section
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        div(class="item-btn")
                            a(href="contact.html" class="btn") Get Started Now
            div(class="slider-item")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") title of text section
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        div(class="item-btn")
                            a(href="contact.html" class="btn") Get Started Now
//main slider

//about us
section(class="about")
    //- img(src="images/about/just.png" class="just img-fluid" alt="")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-6")
                    div(class="about-image")
                        img(class="img-fluid" data-src="images/about/01.jpg" alt="")
                div(class="col-lg-6 d-flex flex-column justify-content-center")
                    div(class="main-title")
                        //- span(class="top-title") Yassien & Partners
                        h2 Who we are?
                    div(class="about-text")
                        p Yassien & Partners law firm is one, among others, of the promising law firms in Egypt, after being announced to be established in late 2007. We were committed to providing our clients with the most professional and precise legal services at very competitive fees. Protecting our clients’ interests is crucial to us; thus, we always assure to assign the requested work to the most qualified and professional lawyers and legal experts who are part of our team
                    div(class="about-btn")
                        a(href="about.html" class="btn") read more
                            i(class="bi bi-chevron-right")
//about us

//expertise page
section(class="expertise")
    div(class="container")
        div(class="main-title text-left")
            h2 news and insights
        div(class="content")
            div(class="row")
                div(class="col-lg-4 col-md-4 col-sm-6")
                    div(class="exp-box")
                        img(src="images/blogs/01.jpg", alt="")
                        div(class="title")
                            a(href="single-expertise.html") 
                                h3 Litigation, Arbitration and Dispute Resolution
                        div(class="more")
                            span(class="btn") 
                                i(class="bi bi-chevron-right") 
                div(class="col-lg-4 col-md-4 col-sm-6")
                    div(class="exp-box")
                        img(src="images/blogs/02.jpg", alt="")
                        div(class="title")
                            a(href="single-expertise.html") 
                                h3 Litigation, Arbitration and Dispute Resolution
                        div(class="more")
                            span(class="btn") 
                                i(class="bi bi-chevron-right") 
                div(class="col-lg-4 col-md-4 col-sm-6")
                    div(class="exp-box")
                        img(src="images/blogs/03.jpg", alt="")
                        div(class="title")
                            a(href="single-expertise.html") 
                                h3 Litigation, Arbitration and Dispute Resolution
                        div(class="more")
                            span(class="btn") 
                                i(class="bi bi-chevron-right") 
                div(class="col-lg-4 col-md-4 col-sm-6")
                    div(class="exp-box")
                        img(src="images/blogs/01.jpg", alt="")
                        div(class="title")
                            a(href="single-expertise.html") 
                                h3 Litigation, Arbitration and Dispute Resolution
                        div(class="more")
                            span(class="btn") 
                                i(class="bi bi-chevron-right") 
                div(class="col-lg-4 col-md-4 col-sm-6")
                    div(class="exp-box")
                        img(src="images/blogs/02.jpg", alt="")
                        div(class="title")
                            a(href="single-expertise.html") 
                                h3 Litigation, Arbitration and Dispute Resolution
                        div(class="more")
                            span(class="btn") 
                                i(class="bi bi-chevron-right") 
                div(class="col-lg-4 col-md-4 col-sm-6")
                    div(class="exp-box")
                        img(src="images/blogs/03.jpg", alt="")
                        div(class="title")
                            a(href="single-expertise.html") 
                                h3 Litigation, Arbitration and Dispute Resolution
                        div(class="more")
                            span(class="btn") 
                                i(class="bi bi-chevron-right") 
//expertise page

//news
//- section(class="news")
    div(class="container")
        div(class="main-title")
            div(class="title-part")
                h2 news and insights
            div(class="btns-part")
                a(href="single-blog.html" class="btn details-btn") more news
        div(class="content")
            div(class="row")
                div(class="col-lg-6")
                    div(class="news-box")
                        div(class="image")
                            a(href="single-blog.html") 
                                img(class="img-fluid" data-src="images/news/01.jpg" alt="")
                        div(class="details")
                            ul(class="meta")
                                li(class="date")
                                    i(class="bi bi-calendar")
                                    | August 18, 2018
                            h3(class="title")
                                a(href="single-blog.html") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            div(class="read-more")
                                a(href="single-blog.html") read more
                                    i(class="bi bi-arrow-right")
                div(class="col-lg-6")
                    div(class="news-box")
                        div(class="image")
                            a(href="single-blog.html") 
                                img(class="img-fluid" data-src="images/news/02.jpg" alt="")
                        div(class="details")
                            ul(class="meta")
                                li(class="date")
                                    i(class="bi bi-calendar")
                                    | August 18, 2018
                            h3(class="title")
                                a(href="single-blog.html") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            div(class="read-more")
                                a(href="single-blog.html") read more
                                    i(class="bi bi-arrow-right")
//news

//blogs
section(class="blogs")
    div(class="container")
        div(class="main-title")
            div(class="title-part")
                h2 news and insights
            div(class="btns-part")
                a(href="single-blog.html" class="btn details-btn") more news
        div(class="content")
            div(class="row")
                div(class="col-lg-4 col-md-6 box")
                    div(class="blog-box")
                        div(class="image")
                            img(class="img-fluid" data-src="images/blogs/01.jpg" alt="")
                            div(class="layer") 
                                a(href="single-blog.html" class="btn") 
                                    //- i(class="bi bi-link")
                                    | know more
                        div(class="details")
                            h3(class="title")
                                a(href="single-blog.html") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
                            ul(class="meta")
                                li(class="date")
                                    i(class="bi bi-calendar")
                                    | August 18, 2018
                                li(class="auther")
                                    i(class="bi bi-pencil-square")
                                    | by 
                                    a(href="#!") Ahmed Saif
                div(class="col-lg-4 col-md-6 box")
                    div(class="blog-box")
                        div(class="image")
                            img(class="img-fluid" data-src="images/blogs/02.jpg" alt="")
                            div(class="layer") 
                                a(href="single-blog.html" class="btn") 
                                    //- i(class="bi bi-link")
                                    | know more
                        div(class="details")
                            h3(class="title")
                                a(href="single-blog.html") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
                            ul(class="meta")
                                li(class="date")
                                    i(class="bi bi-calendar")
                                    | August 18, 2018
                                li(class="auther")
                                    i(class="bi bi-pencil-square")
                                    | by 
                                    a(href="#!") Marwan
                div(class="col-lg-4 col-md-6 box")
                    div(class="blog-box")
                        div(class="image")
                            img(class="img-fluid" data-src="images/blogs/03.jpg" alt="")
                            div(class="layer") 
                                a(href="single-blog.html" class="btn") 
                                    //- i(class="bi bi-link")
                                    | know more
                        div(class="details")
                            h3(class="title")
                                a(href="single-blog.html") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
                            ul(class="meta")
                                li(class="date")
                                    i(class="bi bi-calendar")
                                    | August 18, 2018
                                li(class="auther")
                                    i(class="bi bi-pencil-square")
                                    | by 
                                    a(href="#!") Nadeen
//blogs

//clients
section(class="clients")
    div(class="container")
        div(class="main-title")
            h2 clients
        div(class="content")
            div(class="clients-carousel owl-carousel owl-theme")
                div(class="item")
                    a(href="#!") 
                        img(class="img-fluid" data-src="images/clients/01.png" alt="")
                div(class="item")
                    a(href="#!") 
                        img(class="img-fluid" data-src="images/clients/02.png" alt="")
                div(class="item")
                    a(href="#!") 
                        img(class="img-fluid" data-src="images/clients/03.png" alt="")
//clients

//team home
section(class="team-home")
    div(class="container")
        div(class="content")
            div(class="team-carousel owl-carousel owl-theme")
                div(class="team-box")
                    div(class="image")
                        img(src="images/team/01.jpg", class="img-fluid" alt="")
                        div(class="social")
                            a(href="") 
                                i(class="bi bi-facebook") 
                            a(href="") 
                                i(class="bi bi-twitter") 
                            a(href="") 
                                i(class="bi bi-linkedin") 
                            a(href="") 
                                i(class="bi bi-instagram") 
                    div(class="details")
                        div(class="title")
                            a(href="single-team.html") 
                                h3 Brayan Olson
                            p Senior Associate 
                div(class="team-box")
                    div(class="image")
                        img(src="images/team/02.jpg", class="img-fluid" alt="")
                        div(class="social")
                            a(href="") 
                                i(class="bi bi-facebook") 
                            a(href="") 
                                i(class="bi bi-twitter") 
                            a(href="") 
                                i(class="bi bi-linkedin") 
                            a(href="") 
                                i(class="bi bi-instagram") 
                    div(class="details")
                        div(class="title")
                            a(href="single-team.html") 
                                h3 Brayan Olson
                            p Senior Associate 
                div(class="team-box")
                    div(class="image")
                        img(src="images/team/01.jpg", class="img-fluid" alt="")
                        div(class="social")
                            a(href="") 
                                i(class="bi bi-facebook") 
                            a(href="") 
                                i(class="bi bi-twitter") 
                            a(href="") 
                                i(class="bi bi-linkedin") 
                            a(href="") 
                                i(class="bi bi-instagram") 
                    div(class="details")
                        div(class="title")
                            a(href="single-team.html") 
                                h3 Brayan Olson
                            p Senior Associate 
                div(class="team-box")
                    div(class="image")
                        img(src="images/team/02.jpg", class="img-fluid" alt="")
                        div(class="social")
                            a(href="") 
                                i(class="bi bi-facebook") 
                            a(href="") 
                                i(class="bi bi-twitter") 
                            a(href="") 
                                i(class="bi bi-linkedin") 
                            a(href="") 
                                i(class="bi bi-instagram") 
                    div(class="details")
                        div(class="title")
                            a(href="single-team.html") 
                                h3 Brayan Olson
                            p Senior Associate 
//team home

//partners
section(class="clients")
    div(class="container")
        div(class="main-title")
            h2 awords and memberships
        div(class="content")
            div(class="clients-carousel owl-carousel owl-theme")
                div(class="item")
                    a(href="#!") 
                        img(class="img-fluid" data-src="images/clients/04.png" alt="")
                div(class="item")
                    a(href="#!") 
                        img(class="img-fluid" data-src="images/clients/02.jfif" alt="")
                div(class="item")
                    a(href="#!") 
                        img(class="img-fluid" data-src="images/clients/03.png" alt="")
                div(class="item")
                    a(href="#!") 
                        img(class="img-fluid" data-src="images/clients/04.png" alt="")
                div(class="item")
                    a(href="#!") 
                        img(class="img-fluid" data-src="images/clients/05.jpg" alt="")
                div(class="item")
                    a(href="#!") 
                        img(class="img-fluid" data-src="images/clients/06.jpg" alt="")
                div(class="item")
                    a(href="#!") 
                        img(class="img-fluid" data-src="images/clients/07.png" alt="")
//partners