//scripts
script(src="js/jquery-3.6.0.min.js")
script(src="js/jquery.lazy.min.js")
script(src="js/bootstrap.bundle.min.js")
script(src="js/owl.carousel.min.js")
script(src="js/jquery.fancybox.min.js")
script(src="js/jquery.waypoints.min.js")
script(src="js/jquery.counterup.min.js")
script(src="js/wow.min.js")
script(src="js/script.js")