extend index

block website_title
    title #{website_title} | case details

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('images/bgs/broad.jpg')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 welcome, client name
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") Home
                    li(class="breadcrumb-item active" aria-current="page") case details
    //breadcrumb

    //case details
    section(class="client-portal")
        div(class="container")
            div(class="content")
                div(class="table-area")
                    table(class="table table-hover")
                        thead
                            tr
                                th case name
                                th case files
                                th closed date
                                th case type 
                                th Court
                        tbody
                            tr
                                td An example alert with an icon
                                td
                                    a(href="" class="case-files") 
                                        i(class="bi bi-file-pdf")
                                    a(href="" class="case-files") 
                                        i(class="bi bi-file-pdf")
                                td
                                    | Apr 1, 2018
                                td
                                    span(class='badge rounded-pill bg-danger') closed
                                td --
    //case details