extend index

block website_title
    title #{website_title} | about

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('images/bgs/broad.jpg')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 about
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") Home
                    li(class="breadcrumb-item active", aria-current="page") about
    //breadcrumb
    
    //about page
    section(class="about-in-page")
        div(class="container")
            div(class="content")
                div(class="about-box")
                    div(class="about-image")
                        img(class="img-fluid" data-src="images/about/about.jpg" alt="")
                    div(class="main-title")
                        h2 Who we are?
                    div(class="about-text")
                        p Yassien & Partners law firm is one, among others, of the promising law firms in Egypt, after being announced to be established in the late 2007. We were committed to provide our clients with the most professional and precise legal services in very competitive fees. Protecting our clients’ interests is crucial to us; thus, we always assure to assign the requested work to the most qualified and professional lawyers and legal experts who are part of our team.
                        p Over the years, we have advised, defended and legally supported local, regional and international companies, banks and financial institutions, and we are persistent to act as so. Our areas of expertise are varied and include all legal services that should be needed by our clients or any prospective ones. Among other legal services, we have a much-focused experience in handling all legal issues pertaining to companies operating in Real estate and Construction; additionally, advising them in the alternative methods of financing. This experience was generated through working with distinctive companies in this field ranging from international to local companies. Moreover, we hold a wide experience in handling criminal cases, due to our team experience through working as prosecutors or judges, from the very beginning and defending our clients before different judicial bodies. In addition to the above mentioned, we acted and continue to act as the legal counsellor for companies operating in different businesses whereas we provide them with all legal support needed for their operation.
                    hr(style="clear:both; opacity:0" class="d-block")
                div(class="about-box")
                    div(class="about-image")
                        img(class="img-fluid" data-src="images/about/01.jpg" alt="")
                    div(class="main-title")
                        h2 Why Yassien & Partners?
                    div(class="about-text")
                        p Experience: that Yassien and partners bask grantee the best legal solutions for your legal matters as well as legal protection to all of your rights with high professionalism.

                        p Specialist: Yassien and partners based on the specialization that guarantees you accurate and professional legal protection, which guarantees the provision of legal support to clients from lawmen who specialize in your activity. Combining expertise and specialization is the most important thing that distinguishes us.

                        p Spread: Yassien and partners not only provide legal support to clients locally but support its clients internationally through many partnerships with the leading law firms and institutions providing legal services in many countries around the world, thus ensuring you legal support whatever your activity.

                        p Development: Yassien and partners support development in all of its forms and aim to use all modern technology to provide legal services and communicate with clients, to make it easier for clients to receive legal services and communicate to find out the latest developments easily and conveniently.

                        p Quality and cost: We at Yassien and partners provide you with professional and high-quality legal support in caring for the interests of customers, ensuring that our customers get the best commercially feasible legal solutions at a lower cost.
                    hr(style="clear:both; opacity:0" class="d-block")
                div(class="about-box")
                    div(class="about-image")
                        img(class="img-fluid" data-src="images/about/02.jpg" alt="")
                    div(class="main-title")
                        h2 Our Vision
                    div(class="about-text")
                        p Yassien & Partners consider one of the leading law firms in Egypt. It has established in 2007 as a fully integrated law firm that aggregates between legal experiences and skills which ensure presenting the best of the accomplished legal solutions at a low cost.

                        p Our strong ambush in our client’s faith and their feeling with reassurance and safety with receiving the highest levels of service they deserve through innovative legal solutions and beneficial form the commerce side with focusing on making the law work with their rights.

                        p Previously we have presented consultation to a wide variety of clients including governmental organizations, Corporations, Banks as well local and global financial institutions.
                    div(class="dots")
                        h4 What makes us distinctive?

                        p Judicial experiences, academic background in addition to work in lawyering and arbitration with our four factors Efficiency, Specialization, Accuracy, and Speed in carrying out all legal matters. We care about our client’s rights globally through partnerships with a lot of law firms from all over the world that means that we care about your rights and business on a broader and more comprehensive scale. The aim is to provide the best legal services to clients and support their commercial matters in Egypt and abroad.

                        p We aim to provide our legal services in obligation with our core values.

                        h4 Respect

                        p We enjoy the diversity of our employees. We value our relationships and respect each other and those with whom we work. Our respect upholds the law and regulations to the highest ethical standards.

                        h4 Transparency

                        p Transparency forms the backbone of Yassien & Partners. We aim to maintain the highest standards of integrity and transparency in all our dealings with our employees and clients.

                        h4 The responsibility

                        p We have a responsibility to provide the highest quality of professional service responsively to our clients. We also have a responsibility towards the wellbeing of our employees and the wider communities in which we operate.

                        h4 Growth

                        p We value the commitment of our employees to constantly learn and improve, and we support them with their personal and professional growth.

                        h4 Teamwork

                        p We work collaboratively, share goals, hold ourselves and each other accountable, and celebrate success by valuing and recognizing each employee’s contribution.

                        h4 Innovation

                        p We constantly seek to re-examine how we provide our services to clients to ensure that we are making the optimum use of available technology and resources. Being innovative and entrepreneurial is an integral part of our service proposition.
    //about page

    //subscribe
    section(class="subscribe")
        div(class="container")
            div(class="content")
                div(class="subscribe-form")
                    div(class="main-title")
                        span(class="top-title") Get More Updates
                        h2 Subscribe newsletter
                    form(action="" method="")
                        div(class="input-group")
                            input(class="form-control", type="text", placeholder="Enter your email", aria-label="Recipient's username", aria-describedby="subscribeBtn")
                            button(class="btn btn-outline-secondary", id="subscribeBtn", type="button") Subscribe
    //subscribe

    //clients
    section(class="clients")
        div(class="container")
            div(class="main-title")
                span(class="top-title") clients area
                h2 our clients
            div(class="content")
                div(class="clients-carousel owl-carousel owl-theme")
                    div(class="item")
                        img(class="img-fluid" data-src="images/clients/01.png" alt="")
                    div(class="item")
                        img(class="img-fluid" data-src="images/clients/02.png" alt="")
                    div(class="item")
                        img(class="img-fluid" data-src="images/clients/03.png" alt="")
    //clients
