extend index

block website_title
    title #{website_title} | client portal

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('images/bgs/broad.jpg')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 welcome, client name
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") Home
                    li(class="breadcrumb-item active" aria-current="page") client portal
    //breadcrumb

    //client portal
    section(class="client-portal")
        div(class="container")
            div(class="content")
                div(class="nav nav-pills", id="profile_portal_tabs" role="tablist", aria-orientation="vertical")
                    button#client-portal-3-tab(class="nav-link active", data-bs-toggle="pill", data-bs-target="#client-portal-3", type="button", role="tab", aria-controls="client-portal-3", aria-selected="false") all cases
                div(class="all-cases")
                    div(class="table-area")
                        div(class="table-responsive")
                            table(class="table table-hover" id="client_dataTable")
                                thead
                                    tr
                                        th subject
                                        th open Date 
                                        th type
                                        th status 
                                tbody
                                    tr
                                        td 
                                            a(href="case-details.html" class="case-name") 
                                                | An example alert with an icon
                                        td Apr 1, 2019
                                        td(nowrap="nowrap") case type
                                        td 
                                            span(class='badge rounded-pill bg-danger') closed
                                    tr
                                        td 
                                            a(href="case-details.html" class="case-name")
                                                | An example alert with an icon
                                        td Apr 1, 2018
                                        td(nowrap="nowrap") case type
                                        td 
                                            span(class='badge rounded-pill bg-success') in progress
                                    tr
                                        td 
                                            a(href="case-details.html" class="case-name")
                                                | An example alert with an icon
                                        td Apr 1, 2017
                                        td(nowrap="nowrap") case type
                                        td 
                                            span(class='badge rounded-pill bg-success') in progress
                                    tr
                                        td 
                                            a(href="case-details.html" class="case-name")
                                                | An example alert with an icon
                                        td Apr 1, 2018
                                        td(nowrap="nowrap") case type
                                        td 
                                            span(class='badge rounded-pill bg-success') in progress
                                    tr
                                        td 
                                            a(href="case-details.html" class="case-name")
                                                | An example alert with an icon
                                        td Apr 1, 2018
                                        td(nowrap="nowrap") case type
                                        td 
                                            span(class='badge rounded-pill bg-danger') closed
                    div(class="")
                        nav(aria-label="Page navigation" class="navigation")
                            ul(class="pagination")
                                li(class="page-item")
                                    a(class="page-link arr", href="#!", aria-label="Previous")
                                        span(aria-hidden="true") &laquo;
                                li(class="page-item active")
                                    a(class="page-link", href="#!") 1
                                li(class="page-item")
                                    a(class="page-link", href="#!") 2
                                li(class="page-item")
                                    a(class="page-link", href="#!") 3
                                li(class="page-item")
                                    a(class="page-link arr", href="#!", aria-label="Next")
                                        span(aria-hidden="true") &raquo;
    //client portal