extend index

block website_title
    title #{website_title} | expertise

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('images/bgs/broad.jpg')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 expertise
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") Home
                    li(class="breadcrumb-item active", aria-current="page") expertise
    //breadcrumb
    
    //expertise page
    section(class="expertise")
        div(class="container")
            div(class="main-title")
                span(class="top-title") Yassien & Partners
                h2 our expertise
            div(class="content")
                div(class="d-flex align-items-start")
                    ul(class="nav nav-pills", role="tablist")
                        li(class="nav-item", role="presentation")
                            button(class="nav-link active", id="expertise-1-tab" data-bs-toggle="pill", data-bs-target="#expertise-1", type="button", role="tab", aria-controls="expertise-1", aria-selected="true") History
                        li(class="nav-item", role="presentation")
                            button(class="nav-link", id="expertise-2-tab" data-bs-toggle="pill", data-bs-target="#expertise-2", type="button", role="tab", aria-controls="expertise-2", aria-selected="false") vision
                        li(class="nav-item", role="presentation")
                            button(class="nav-link", id="expertise-3-tab" data-bs-toggle="pill", data-bs-target="#expertise-3", type="button", role="tab", aria-controls="expertise-3", aria-selected="false") mission
                    div(class="tab-content")
                        div(class="tab-pane fade show active", id="expertise-1" role="tabpanel", aria-labelledby="expertise-1-tab") 
                            h3 overview
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis alias tenetur maxime quos vel officiis, excepturi eligendi culpa reiciendis vero dolore error odio voluptate labore aut pariatur molestias quisquam soluta? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo non illum reiciendis distinctio fugit? Nobis quas, quo aliquid, eligendi eveniet laborum molestias, consectetur vitae voluptatibus sit explicabo dolorum et culpa!
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis alias tenetur maxime quos vel officiis, excepturi eligendi culpa reiciendis vero dolore error odio voluptate labore aut pariatur molestias quisquam soluta? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo non illum reiciendis distinctio fugit? Nobis quas, quo aliquid, eligendi eveniet laborum molestias, consectetur vitae voluptatibus sit explicabo dolorum et culpa!
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis alias tenetur maxime quos vel officiis, excepturi eligendi culpa reiciendis vero dolore error odio voluptate labore aut pariatur molestias quisquam soluta? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo non illum reiciendis distinctio fugit? Nobis quas, quo aliquid, eligendi eveniet laborum molestias, consectetur vitae voluptatibus sit explicabo dolorum et culpa!
                            h3 this is title
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis alias tenetur maxime quos vel officiis, excepturi eligendi culpa reiciendis vero dolore error odio voluptate labore aut pariatur molestias quisquam soluta? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo non illum reiciendis distinctio fugit? Nobis quas, quo aliquid, eligendi eveniet laborum molestias, consectetur vitae voluptatibus sit explicabo dolorum et culpa!
                        div(class="tab-pane fade", id="expertise-2" role="tabpanel", aria-labelledby="expertise-2-tab") 
                            h3 overview
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis alias tenetur maxime quos vel officiis, excepturi eligendi culpa reiciendis vero dolore error odio voluptate labore aut pariatur molestias quisquam soluta? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo non illum reiciendis distinctio fugit? Nobis quas, quo aliquid, eligendi eveniet laborum molestias, consectetur vitae voluptatibus sit explicabo dolorum et culpa!
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis alias tenetur maxime quos vel officiis, excepturi eligendi culpa reiciendis vero dolore error odio voluptate labore aut pariatur molestias quisquam soluta? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo non illum reiciendis distinctio fugit? Nobis quas, quo aliquid, eligendi eveniet laborum molestias, consectetur vitae voluptatibus sit explicabo dolorum et culpa!
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis alias tenetur maxime quos vel officiis, excepturi eligendi culpa reiciendis vero dolore error odio voluptate labore aut pariatur molestias quisquam soluta? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo non illum reiciendis distinctio fugit? Nobis quas, quo aliquid, eligendi eveniet laborum molestias, consectetur vitae voluptatibus sit explicabo dolorum et culpa!
                            h3 this is title
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis alias tenetur maxime quos vel officiis, excepturi eligendi culpa reiciendis vero dolore error odio voluptate labore aut pariatur molestias quisquam soluta? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo non illum reiciendis distinctio fugit? Nobis quas, quo aliquid, eligendi eveniet laborum molestias, consectetur vitae voluptatibus sit explicabo dolorum et culpa!
                        div(class="tab-pane fade", id="expertise-3" role="tabpanel", aria-labelledby="expertise-3-tab") 
                            h3 Loyalty
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis alias tenetur maxime quos vel officiis, excepturi eligendi culpa reiciendis vero dolore error odio voluptate labore aut pariatur molestias quisquam soluta? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo non illum reiciendis distinctio fugit?
                            h3 Collaboration
                            p Lorem ipsum dolor sit, amet  voluptate labore aut pariatur molestias quisquam soluta? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo non illum reiciendis distinctio fugit?
                            h3 Excellence
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis alias tenetur maxime quos vel officiis, excepturi eligendi culpa reiciendis vero dolore
                            h3 Innovative
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis alias tenetur maxime quos vel officiis, excepturi eligendi culpa reiciendis vero dolore
    //expertise page
    
    //subscribe
    section(class="subscribe")
        div(class="container")
            div(class="content")
                div(class="subscribe-form")
                    div(class="main-title")
                        span(class="top-title") Get More Updates
                        h2 Subscribe newsletter
                    form(action="" method="")
                        div(class="input-group")
                            input(class="form-control", type="text", placeholder="Enter your email", aria-label="Recipient's username", aria-describedby="subscribeBtn")
                            button(class="btn btn-outline-secondary", id="subscribeBtn", type="button") Subscribe
    //subscribe

    //expertise page
    section(class="expertise2")
        div(class="container")
            div(class="main-title")
                span(class="top-title") Yassien & Partners
                h2 our expertise
            div(class="content")
                div(class="accordion accordion-flush" id="accordionFlushExp")
                    div(class="accordion-item")
                        h2(class="accordion-header")
                            button(class="accordion-button collapsed", type="button", data-bs-toggle="collapse", data-bs-target="#exp-flush-1", aria-expanded="true", aria-controls="exp-flush-1")
                                i(class="bi bi-sun")
                                | Accordion Item 1
                        #exp-flush-1(class="accordion-collapse collapse show", aria-labelledby="flush-headingOne", data-bs-parent="#accordionFlushExp")
                            div(class="accordion-body") Placeholder content for this accordion, which is intended to demonstrate the 
                                code .accordion-flush
                                | class. This is the first item&apos;s accordion body.
                    div(class="accordion-item")
                        h2(class="accordion-header")
                            button(class="accordion-button collapsed", type="button", data-bs-toggle="collapse", data-bs-target="#exp-flush-2", aria-expanded="false", aria-controls="exp-flush-2")
                                i(class="bi bi-sun")
                                | Accordion Item 2
                        #exp-flush-2(class="accordion-collapse collapse", aria-labelledby="flush-headingTwo", data-bs-parent="#accordionFlushExp")
                            div(class="accordion-body") Placeholder content for this accordion, which is intended to demonstrate the 
                                code .accordion-flush
                                | class. This is the second item&apos;s accordion body. Let&apos;s imagine this being filled with some actual content.
                    div(class="accordion-item")
                        h2(class="accordion-header")
                            button(class="accordion-button collapsed", type="button", data-bs-toggle="collapse", data-bs-target="#exp-flush-3", aria-expanded="false", aria-controls="exp-flush-3")
                                i(class="bi bi-sun")
                                | Accordion Item 3
                        #exp-flush-3(class="accordion-collapse collapse", aria-labelledby="flush-headingThree", data-bs-parent="#accordionFlushExp")
                            div(class="accordion-body") Placeholder content for this accordion, which is intended to demonstrate the 
                                code .accordion-flush
                                | class. This is the third item&apos;s accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.
                    div(class="accordion-item")
                        h2(class="accordion-header")
                            button(class="accordion-button collapsed", type="button", data-bs-toggle="collapse", data-bs-target="#exp-flush-4", aria-expanded="false", aria-controls="exp-flush-4")
                                i(class="bi bi-sun")
                                | Accordion Item 4
                        #exp-flush-4(class="accordion-collapse collapse", aria-labelledby="flush-headingThree", data-bs-parent="#accordionFlushExp")
                            div(class="accordion-body") Placeholder content for this accordion, which is intended to demonstrate the 
                                code .accordion-flush
                                | class. This is the third item&apos;s accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.
                    div(class="accordion-item")
                        h2(class="accordion-header")
                            button(class="accordion-button collapsed", type="button", data-bs-toggle="collapse", data-bs-target="#exp-flush-5", aria-expanded="false", aria-controls="exp-flush-5")
                                i(class="bi bi-sun")
                                | Accordion Item 5
                        #exp-flush-5(class="accordion-collapse collapse", aria-labelledby="flush-headingThree", data-bs-parent="#accordionFlushExp")
                            div(class="accordion-body") Placeholder content for this accordion, which is intended to demonstrate the 
                                code .accordion-flush
                                | class. This is the third item&apos;s accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.
    //expertise page
    
    //clients
    section(class="clients")
        div(class="container")
            div(class="main-title")
                span(class="top-title") clients area
                h2 our clients
            div(class="content")
                div(class="clients-carousel owl-carousel owl-theme")
                    div(class="item")
                        img(class="img-fluid" data-src="images/clients/01.png" alt="")
                    div(class="item")
                        img(class="img-fluid" data-src="images/clients/02.png" alt="")
                    div(class="item")
                        img(class="img-fluid" data-src="images/clients/03.png" alt="")
    //clients
