extend index

block website_title
    title #{website_title} | expertise

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('images/bgs/broad.jpg')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 expertise
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") Home
                    li(class="breadcrumb-item active", aria-current="page") expertise
    //breadcrumb
    
    //expertise page
    section(class="expertise")
        div(class="container")
            div(class="main-title")
                span(class="top-title") Yassien & Partners
                h2 our expertise
            div(class="content")
                div(class="row")
                    div(class="col-lg-3 col-md-4 col-sm-6")
                        a(href="single-expertise.html") 
                            div(class="exp-box")
                                div(class="icon")
                                    img(src="images/expertise/01.svg", alt="")
                                div(class="title")
                                    h3 Litigation, Arbitration and Dispute Resolution
                                div(class="more")
                                    span(class="btn") 
                                        i(class="bi bi-chevron-right") 
                    div(class="col-lg-3 col-md-4 col-sm-6")
                        a(href="single-expertise.html") 
                            div(class="exp-box")
                                div(class="icon")
                                    img(src="images/expertise/01.svg", alt="")
                                div(class="title")
                                    h3 Litigation, Arbitration and Dispute Resolution
                                div(class="more")
                                    span(class="btn") 
                                        i(class="bi bi-chevron-right") 
                    div(class="col-lg-3 col-md-4 col-sm-6")
                        a(href="single-expertise.html") 
                            div(class="exp-box")
                                div(class="icon")
                                    img(src="images/expertise/01.svg", alt="")
                                div(class="title")
                                    h3 Litigation, Arbitration and Dispute Resolution
                                div(class="more")
                                    span(class="btn") 
                                        i(class="bi bi-chevron-right") 
                    div(class="col-lg-3 col-md-4 col-sm-6")
                        a(href="single-expertise.html") 
                            div(class="exp-box")
                                div(class="icon")
                                    img(src="images/expertise/01.svg", alt="")
                                div(class="title")
                                    h3 Litigation, Arbitration and Dispute Resolution
                                div(class="more")
                                    span(class="btn") 
                                        i(class="bi bi-chevron-right") 
                    div(class="col-lg-3 col-md-4 col-sm-6")
                        a(href="single-expertise.html") 
                            div(class="exp-box")
                                div(class="icon")
                                    img(src="images/expertise/01.svg", alt="")
                                div(class="title")
                                    h3 Litigation, Arbitration and Dispute Resolution
                                div(class="more")
                                    span(class="btn") 
                                        i(class="bi bi-chevron-right") 
                    div(class="col-lg-3 col-md-4 col-sm-6")
                        a(href="single-expertise.html") 
                            div(class="exp-box")
                                div(class="icon")
                                    img(src="images/expertise/01.svg", alt="")
                                div(class="title")
                                    h3 Litigation, Arbitration and Dispute Resolution
                                div(class="more")
                                    span(class="btn") 
                                        i(class="bi bi-chevron-right") 
                    div(class="col-lg-3 col-md-4 col-sm-6")
                        a(href="single-expertise.html") 
                            div(class="exp-box")
                                div(class="icon")
                                    img(src="images/expertise/01.svg", alt="")
                                div(class="title")
                                    h3 Litigation, Arbitration and Dispute Resolution
                                div(class="more")
                                    span(class="btn") 
                                        i(class="bi bi-chevron-right") 
    //expertise page
    
    //subscribe
    section(class="subscribe")
        div(class="container")
            div(class="content")
                div(class="subscribe-form")
                    div(class="main-title")
                        span(class="top-title") Get More Updates
                        h2 Subscribe newsletter
                    form(action="" method="")
                        div(class="input-group")
                            input(class="form-control", type="text", placeholder="Enter your email", aria-label="Recipient's username", aria-describedby="subscribeBtn")
                            button(class="btn btn-outline-secondary", id="subscribeBtn", type="button") Subscribe
    //subscribe