extend index

block website_title
    title #{website_title} | single blog

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('images/bgs/broad.jpg')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 single blog
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="#") Home
                    li(class="breadcrumb-item active", aria-current="page") single blog
    //breadcrumb

    //single blog page
    section(class="single-blog")
        div(class="container")
            div(class="content")
                div(class="row")
                    div(class="col-lg-9")
                        div(class="single-blog-box")
                            div(class="image")
                                img(src="images/blogs/01.jpg", class="img-fluid" alt="")
                            div(class="text")
                                h3(class="subtitle") Puffy Pancakes Glazed With Caramel Topped With Fruits
                                p(class="details") Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, suscipit repellendus nulla sint ipsum iste fuga distinctio eveniet totam vero modi, minima quod, ratione tenetur optio laboriosam dicta quia id.
                            div(class="meta")
                                div(class="single")
                                    i(class="bi bi-calendar-event")
                                    span 25/1/2021
                                div(class="single")
                                    i(class="bi bi-eye")
                                    span 25 views
                            hr
                            div(class="ingredients")
                                h3(class="subtitle") this is title
                                ul(class="ct-list")
                                    li Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, suscipit repellendus nulla 
                                    li sint ipsum iste fuga distinctio eveniet totam vero modi, minima quod, ratione 
                                    li Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, suscipit repellendus nulla 
                                    li tenetur optio laboriosam dicta quia id.
                                    li Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, suscipit repellendus nulla 
                                    li Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, suscipit repellendus nulla 
                                    li Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    li tenetur optio laboriosam dicta quia id.
                            div(class="instructions")
                                h3(class="subtitle") this is title
                                div(class="step")
                                    h4 another title 1
                                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum dicta perferendis dolores. Accusantium esse aliquid reprehenderit asperiores corrupti blanditiis nam praesentium iste numquam quae, voluptas, labore sint nemo tempore eum.
                                div(class="step")
                                    h4 another title 2
                                    p Make a well in the centre and whisk in the milk, slightly cooled melted butter, vanilla and egg. Whisk in the pumpkin puree until smooth.
                                div(class="step")
                                    h4 another title 3
                                    p Heat a nonstick pan or griddle over low-medium heat and wipe over with a little butter to lightly grease pan.
                                div(class="step")
                                    h4 another title 4
                                    p Pour 1⁄4 cup of batter onto the pan and spread out gently into a round shape with the back of your ladle or measuring cup. When the underside is golden and bubbles begin to appear on the surface, flip with a spatula and cook until golden. Repeat with remaining batter.
                                div(class="step")
                                    h4 another title 5
                                    p Serve with your choice of topping.
                            hr
                            div(class="rating-area")
                                h3 leave review: 
                                div(class="rating" id="post_rating")
                                    span(class="ratyli")
                            hr
                            div(class="comments-list")
                                h3(class="subtitle") 2 Comments
                                ul
                                    li(class="comment-item")
                                        img(src="images/icons/person.jpg", alt="comment author")
                                        div(class="comment-body")
                                            h5 John Doe
                                            span Posted on: January 13 2020
                                            p Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
                                    li(class="comment-item")
                                        img(src="images/icons/person.jpg", alt="comment author")
                                        div(class="comment-body")
                                            h5 John Doe
                                            span Posted on: January 13 2020
                                            p Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches
                            div(class="comment-form")
                                h3(class="subtitle") Leave a comment
                                form(method="" action="")
                                    div(class="row")
                                        div(class="col-md-6 form-group")
                                            input(type="text", class="form-control", placeholder="Name", name="name", value="")
                                        div(class="col-md-6 form-group")
                                            input(type="email", class="form-control", placeholder="Email Address", name="email", value="")
                                        div(class="col-md-12 form-group")
                                            textarea(class="form-control", placeholder="Type your comment...", name="comment", rows="7")
                                    button(type="submit", class="btn-form primary", name="button") Post comment
                    div(class="col-lg-3")
                        div(class="sidebar-widget")
                            div(class="relative-blogs")
                                div(class="relative-blog-box")
                                    div(class="image")
                                        img(src="images/blogs/01.jpg", class="img-fluid" alt="")
                                    div(class="text")
                                        a(href="#!") 
                                            h3(class="subtitle") Puffy Pancakes Glazed With Caramel Topped With Fruits
                                            p(class="details") Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, suscipit repellendus nulla sint ipsum iste fuga distinctio eveniet totam vero modi, minima quod, ratione tenetur optio laboriosam dicta quia id.
                                div(class="relative-blog-box")
                                    div(class="image")
                                        img(src="images/blogs/02.jpg", class="img-fluid" alt="")
                                    div(class="text")
                                        a(href="#!") 
                                            h3(class="subtitle") Puffy Pancakes Glazed With Caramel Topped With Fruits
                                            p(class="details") Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, suscipit repellendus nulla sint ipsum iste fuga distinctio eveniet totam vero modi, minima quod, ratione tenetur optio laboriosam dicta quia id.
                                div(class="relative-blog-box")
                                    div(class="image")
                                        img(src="images/blogs/03.jpg", class="img-fluid" alt="")
                                    div(class="text")
                                        a(href="#!") 
                                            h3(class="subtitle") Puffy Pancakes Glazed With Caramel Topped With Fruits
                                            p(class="details") Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, suscipit repellendus nulla sint ipsum iste fuga distinctio eveniet totam vero modi, minima quod, ratione tenetur optio laboriosam dicta quia id.
                                div(class="relative-blog-box")
                                    div(class="image")
                                        img(src="images/blogs/04.jpg", class="img-fluid" alt="")
                                    div(class="text")
                                        a(href="#!") 
                                            h3(class="subtitle") Puffy Pancakes Glazed With Caramel Topped With Fruits
                                            p(class="details") Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, suscipit repellendus nulla sint ipsum iste fuga distinctio eveniet totam vero modi, minima quod, ratione tenetur optio laboriosam dicta quia id.
                            div(class="tags")
                                div(class="subtitle") 
                                    h3 popular Tags
                                a(href="#") slug 1
                                a(href="#") slug 2
                                a(href="#") slug 3
                                a(href="#") slug 4
                                a(href="#") slug 5
                                a(href="#") slug 6
                                a(href="#") slug 7
                                a(href="#") slug 7
    //single blog page