extend index

block website_title
    title #{website_title} | single team

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('images/bgs/broad.jpg')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 single team
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") Home
                    li(class="breadcrumb-item active" aria-current="page") single team
    //breadcrumb

    //single team
    section(class="single-team")
        div(class="container")
            div(class="content")
                div(class="head-team-box")
                    div(class="row")
                        div(class="col-lg-4")
                            div(class="image")
                                img(src="images/team/head.jpg", class="img-fluid" alt="")
                                div(class="social")
                                    a(href="") 
                                        i(class="bi bi-facebook") 
                                    a(href="") 
                                        i(class="bi bi-twitter") 
                                    a(href="") 
                                        i(class="bi bi-linkedin") 
                                    a(href="") 
                                        i(class="bi bi-instagram") 
                                a(class="btn" href="files/vcard.vcf") download v-card
                            div(class="contact")
                                h4 contact info
                                p 
                                    i(class="bi bi-telephone")
                                    a(href="tel:01112121212") 01112121212
                                p 
                                    i(class="bi bi-phone")
                                    a(href="tel:01112121212") 01112515523
                                p 
                                    i(class="bi bi-envelope")
                                    a(href="mailto:support@example.com") support@example.com
                        div(class="col-lg-8")
                            div(class="details")
                                div(class="title")
                                    h3 DR. ALI YASSIEN
                                    span Founder & Chairman
                                    p Former Judge & vice-president of the appellate court
                                    p Dr. Aly Yassien was graduated from faculty of Law  Cairo University at (1982-1983 ). Since then and after he has committed all his attitude to be more updated with the international laws and legal studies concerning important topics, so he sought to obtain post-graduate degrees as A Diploma of international commercial law “the mechanism of the WTO” (kings college – London University), Ph.D. at international arbitration commercial law ( Holborn college – London ), LLM degree in Maritime transport and logistics “Arab academy for science, technology, and maritime transport, a Predoctoral researcher in investment dispute settlement mechanism.
                                    div(class="text")
                                        h4 PRACTICE AREAS
                                        ul 
                                            li
                                                a(href="#!") ARBITRATION
                                            li
                                                a(href="#!") LITIGATION
                                            li
                                                a(href="#!") CORPORATE
                                div(class="more-details")
                                    h3 Accordion Item 1
                                    p Placeholder content for this accordion, which is intended to demonstrate the 
                                        | class. This is the first items accordion body.
                                    h3 Accordion Item 2
                                    p Placeholder content for this accordion, which is intended to demonstrate the 
                                        | class. This is the second items accordion body. Lets imagine this being filled with some actual content.
                                    h3 Accordion Item 3
                                    p Placeholder content for this accordion, which is intended to demonstrate the 
                                        | class. This is the third items accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.
                                    h3 Accordion Item 4
                                    p Placeholder content for this accordion, which is intended to demonstrate the 
                                        | class. This is the third items accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.
        //- div(class="more-info")
            div(class="container")
                div(class="content")
                    div(class="row")
                        div(class="col-lg-5")
                            //- div(class="contact")
                                h4 contact info
                                p 
                                    i(class="bi bi-telephone")
                                    a(href="tel:01112121212") 01112121212
                                p 
                                    i(class="bi bi-phone")
                                    a(href="tel:01112121212") 01112515523
                                p 
                                    i(class="bi bi-envelope")
                                    a(href="mailto:support@example.com") support@example.com
                        div(class="col-lg-7")
                            //- div(class="more-details")
                                h3 Accordion Item 1
                                p Placeholder content for this accordion, which is intended to demonstrate the 
                                    | class. This is the first items accordion body.
                                h3 Accordion Item 2
                                p Placeholder content for this accordion, which is intended to demonstrate the 
                                    | class. This is the second items accordion body. Lets imagine this being filled with some actual content.
                                h3 Accordion Item 3
                                p Placeholder content for this accordion, which is intended to demonstrate the 
                                    | class. This is the third items accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.
                                h3 Accordion Item 4
                                p Placeholder content for this accordion, which is intended to demonstrate the 
                                    | class. This is the third items accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.
    //single team