extend index

block website_title
    title #{website_title} | our team

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('images/bgs/broad.jpg')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 our team
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") Home
                    li(class="breadcrumb-item active", aria-current="page") our team
    //breadcrumb

    //team page team
    section(class="team")
        div(class="container")
            div(class="content")
                div(class="head-team-box")
                    div(class="row")
                        div(class="col-lg-4 p-0")
                            div(class="image")
                                img(src="images/team/head.jpg", class="img-fluid" alt="")
                        div(class="col-lg-8 p-0")
                            div(class="details")
                                div(class="title")
                                    h3 DR. ALI YASSIEN
                                    span Founder & Chairman
                                    p Former Judge & vice-president of the appellate court
                                div(class="text")
                                    p Dr. Aly Yassien was graduated from faculty of Law  Cairo University at (1982-1983 ). Since then and after he has committed all his attitude to be more updated with the international laws and legal studies concerning important topics, so he sought to obtain post-graduate degrees as A Diploma of international commercial law “the mechanism of the WTO” (kings college – London University), Ph.D. at international arbitration commercial law ( Holborn college – London ), LLM degree in Maritime transport and logistics “Arab academy for science, technology, and maritime transport, a Predoctoral researcher in investment dispute settlement mechanism.
                                    a(data-bs-toggle='modal', data-bs-target='#teamModal' class="btn") read more 
    //team page team

    //team members
    section(class="team")
        div(class="container")
            div(class="main-title")
                h2 Our of-Counsels
            div(class="content")
                div(class="row")
                    div(class="col-lg-3 col-md-4 col-sm-6")
                        div(class="team-box")
                            div(class="image")
                                a(data-bs-toggle='modal', data-bs-target='#teamModal') 
                                    img(src="images/team/01.jpg", class="img-fluid" alt="")
                            div(class="details")
                                div(class="title")
                                    h3 Brayan Olson
                                    p Senior Associate (Corporate Department) 
                                div(class="social")
                                    a(href="") 
                                        i(class="bi bi-facebook") 
                                    a(href="") 
                                        i(class="bi bi-twitter") 
                                    a(href="") 
                                        i(class="bi bi-linkedin") 
                                    a(href="") 
                                        i(class="bi bi-instagram") 
                    div(class="col-lg-3 col-md-4 col-sm-6")
                        div(class="team-box")
                            div(class="image")
                                a(data-bs-toggle='modal', data-bs-target='#teamModal') 
                                    img(src="images/team/02.jpg", class="img-fluid" alt="")
                            div(class="details")
                                div(class="title")
                                    h3 Brayan Olson
                                    p Admin Assistant & Office Manager
                                div(class="social")
                                    a(href="") 
                                        i(class="bi bi-facebook") 
                                    a(href="") 
                                        i(class="bi bi-twitter") 
                                    a(href="") 
                                        i(class="bi bi-linkedin") 
                                    a(href="") 
                                        i(class="bi bi-instagram") 
                    div(class="col-lg-3 col-md-4 col-sm-6")
                        div(class="team-box")
                            div(class="image")
                                a(data-bs-toggle='modal', data-bs-target='#teamModal') 
                                    img(src="images/team/02.jpg", class="img-fluid" alt="")
                            div(class="details")
                                div(class="title")
                                    h3 Brayan Olson
                                    p Admin Assistant & Office Manager
                                div(class="social")
                                    a(href="") 
                                        i(class="bi bi-facebook") 
                                    a(href="") 
                                        i(class="bi bi-twitter") 
                                    a(href="") 
                                        i(class="bi bi-linkedin") 
                                    a(href="") 
                                        i(class="bi bi-instagram") 
                    div(class="col-lg-3 col-md-4 col-sm-6")
                        div(class="team-box")
                            div(class="image")
                                a(data-bs-toggle='modal', data-bs-target='#teamModal') 
                                    img(src="images/team/un.png", class="img-fluid" alt="")
                            div(class="details")
                                div(class="title")
                                    h3 Brayan Olson
                                    p Admin Assistant & Office Manager
                                div(class="social")
                                    a(href="") 
                                        i(class="bi bi-facebook") 
                                    a(href="") 
                                        i(class="bi bi-twitter") 
                                    a(href="") 
                                        i(class="bi bi-linkedin") 
                                    a(href="") 
                                        i(class="bi bi-instagram") 
    //team members
    hr
    //team page
    section(class="team")
        div(class="container")
            div(class="main-title")
                h2 Our senior associates ​​
            div(class="content")
                div(class="row")
                    div(class="col-lg-3 col-md-4 col-sm-6")
                        div(class="team-box")
                            div(class="image")
                                a(data-bs-toggle='modal', data-bs-target='#teamModal') 
                                    img(src="images/team/01.jpg", class="img-fluid" alt="")
                            div(class="details")
                                div(class="title")
                                    h3 Brayan Olson
                                    p Senior Associate (Corporate Department) 
                                div(class="social")
                                    a(href="") 
                                        i(class="bi bi-facebook") 
                                    a(href="") 
                                        i(class="bi bi-twitter") 
                                    a(href="") 
                                        i(class="bi bi-linkedin") 
                                    a(href="") 
                                        i(class="bi bi-instagram") 
                    div(class="col-lg-3 col-md-4 col-sm-6")
                        div(class="team-box")
                            div(class="image")
                                a(data-bs-toggle='modal', data-bs-target='#teamModal') 
                                    img(src="images/team/02.jpg", class="img-fluid" alt="")
                            div(class="details")
                                div(class="title")
                                    h3 Brayan Olson
                                    p Admin Assistant & Office Manager
                                div(class="social")
                                    a(href="") 
                                        i(class="bi bi-facebook") 
                                    a(href="") 
                                        i(class="bi bi-twitter") 
                                    a(href="") 
                                        i(class="bi bi-linkedin") 
                                    a(href="") 
                                        i(class="bi bi-instagram") 
                    div(class="col-lg-3 col-md-4 col-sm-6")
                        div(class="team-box")
                            div(class="image")
                                a(data-bs-toggle='modal', data-bs-target='#teamModal') 
                                    img(src="images/team/un.png", class="img-fluid" alt="")
                            div(class="details")
                                div(class="title")
                                    h3 Brayan Olson
                                    p Admin Assistant & Office Manager
                                div(class="social")
                                    a(href="") 
                                        i(class="bi bi-facebook") 
                                    a(href="") 
                                        i(class="bi bi-twitter") 
                                    a(href="") 
                                        i(class="bi bi-linkedin") 
                                    a(href="") 
                                        i(class="bi bi-instagram") 
                    div(class="col-lg-3 col-md-4 col-sm-6")
                        div(class="team-box")
                            div(class="image")
                                a(data-bs-toggle='modal', data-bs-target='#teamModal') 
                                    img(src="images/team/02.jpg", class="img-fluid" alt="")
                            div(class="details")
                                div(class="title")
                                    h3 Brayan Olson
                                    p Admin Assistant & Office Manager
                                div(class="social")
                                    a(href="") 
                                        i(class="bi bi-facebook") 
                                    a(href="") 
                                        i(class="bi bi-twitter") 
                                    a(href="") 
                                        i(class="bi bi-linkedin") 
                                    a(href="") 
                                        i(class="bi bi-instagram") 
    //team page

    //modal
    div(class="modal fade", id="teamModal" tabindex="-1", aria-labelledby="teamModalFullscreenLabel", aria-modal="true", role="dialog")
        div(class="modal-dialog modal-fullscreen")
            div(class="modal-content")
                div(class="modal-header")
                    h5(class="modal-title h4") DR. ALI YASSIEN
                    button(type="button", class="btn-close", data-bs-dismiss="modal", aria-label="Close")
                div(class="modal-body")
                    section(class="team")
                        div(class="container")
                            div(class="content")
                                div(class="head-team-box")
                                    div(class="row")
                                        div(class="col-lg-5 p-0")
                                            div(class="image")
                                                img(src="images/team/head.jpg", class="img-fluid" alt="")
                                                div(class="social")
                                                    a(href="") 
                                                        i(class="bi bi-facebook") 
                                                    a(href="") 
                                                        i(class="bi bi-twitter") 
                                                    a(href="") 
                                                        i(class="bi bi-linkedin") 
                                                    a(href="") 
                                                        i(class="bi bi-instagram") 
                                                a(class="btn" href="files/vcard.vcf") download v-card
                                        div(class="col-lg-7 p-0")
                                            div(class="details")
                                                div(class="title")
                                                    h3 DR. ALI YASSIEN
                                                    span Founder & Chairman
                                                    p Former Judge & vice-president of the appellate court
                                                div(class="text")
                                                    p Dr. Aly Yassien was graduated from faculty of Law  Cairo University at (1982-1983 ). Since then and after he has committed all his attitude to be more updated with the international laws and legal studies concerning important topics, so he sought to obtain post-graduate degrees as A Diploma of international commercial law “the mechanism of the WTO” (kings college – London University), Ph.D. at international arbitration commercial law ( Holborn college – London ), LLM degree in Maritime transport and logistics “Arab academy for science, technology, and maritime transport, a Predoctoral researcher in investment dispute settlement mechanism.

                                                    h4 PRACTICE AREAS
                                                    ul 
                                                        li ARBITRATION
                                                        li LITIGATION
                                                        li CORPORATE
                    //single expertise page
                    div(class="more-info")
                        div(class="container")
                            div(class="content")
                                div(class="row")
                                    div(class="col-lg-5")
                                        div(class="contact")
                                            h4 contact info
                                            p 
                                                i(class="bi bi-telephone")
                                                a(href="tel:01112121212") 01112121212
                                            p 
                                                i(class="bi bi-phone")
                                                a(href="tel:01112121212") 01112515523
                                            p 
                                                i(class="bi bi-envelope")
                                                a(href="mailto:support@example.com") support@example.com
                                    div(class="col-lg-7")
                                        div(class="accordion accordion-flush" id="accordionFlushExp")
                                            div(class="accordion-item")
                                                h2(class="accordion-header")
                                                    button(class="accordion-button collapsed", type="button", data-bs-toggle="collapse", data-bs-target="#exp-flush-1", aria-expanded="true", aria-controls="exp-flush-1")
                                                        i(class="bi bi-sun")
                                                        | Accordion Item 1
                                                #exp-flush-1(class="accordion-collapse collapse show", aria-labelledby="flush-headingOne", data-bs-parent="#accordionFlushExp")
                                                    div(class="accordion-body") Placeholder content for this accordion, which is intended to demonstrate the 
                                                        code .accordion-flush
                                                        | class. This is the first item&apos;s accordion body.
                                            div(class="accordion-item")
                                                h2(class="accordion-header")
                                                    button(class="accordion-button collapsed", type="button", data-bs-toggle="collapse", data-bs-target="#exp-flush-2", aria-expanded="false", aria-controls="exp-flush-2")
                                                        i(class="bi bi-sun")
                                                        | Accordion Item 2
                                                #exp-flush-2(class="accordion-collapse collapse", aria-labelledby="flush-headingTwo", data-bs-parent="#accordionFlushExp")
                                                    div(class="accordion-body") Placeholder content for this accordion, which is intended to demonstrate the 
                                                        code .accordion-flush
                                                        | class. This is the second item&apos;s accordion body. Let&apos;s imagine this being filled with some actual content.
                                            div(class="accordion-item")
                                                h2(class="accordion-header")
                                                    button(class="accordion-button collapsed", type="button", data-bs-toggle="collapse", data-bs-target="#exp-flush-3", aria-expanded="false", aria-controls="exp-flush-3")
                                                        i(class="bi bi-sun")
                                                        | Accordion Item 3
                                                #exp-flush-3(class="accordion-collapse collapse", aria-labelledby="flush-headingThree", data-bs-parent="#accordionFlushExp")
                                                    div(class="accordion-body") Placeholder content for this accordion, which is intended to demonstrate the 
                                                        code .accordion-flush
                                                        | class. This is the third item&apos;s accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.
                                            div(class="accordion-item")
                                                h2(class="accordion-header")
                                                    button(class="accordion-button collapsed", type="button", data-bs-toggle="collapse", data-bs-target="#exp-flush-4", aria-expanded="false", aria-controls="exp-flush-4")
                                                        i(class="bi bi-sun")
                                                        | Accordion Item 4
                                                #exp-flush-4(class="accordion-collapse collapse", aria-labelledby="flush-headingThree", data-bs-parent="#accordionFlushExp")
                                                    div(class="accordion-body") Placeholder content for this accordion, which is intended to demonstrate the 
                                                        code .accordion-flush
                                                        | class. This is the third item&apos;s accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.
                    //single expertise page
                div(class="modal-footer")
                    button(type="button", class="btn btn-secondary", data-bs-dismiss="modal") Close
    //modal