extend index

block website_title
    title #{website_title} | our team

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('images/bgs/broad.jpg')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 our team
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") Home
                    li(class="breadcrumb-item active", aria-current="page") our team
    //breadcrumb

    //team page

    //team page
    section(class="team")
        div(class="container")
            div(class="content")
                div(class="head-team-box")
                    div(class="row")
                        div(class="col-lg-5 p-0")
                            div(class="image")
                                img(src="images/team/head.jpg", class="img-fluid" alt="")
                        div(class="col-lg-7 p-0")
                            div(class="details")
                                div(class="title")
                                    h3 DR. ALI YASSIEN
                                    span Founder & Chairman
                                    p Former Judge & vice-president of the appellate court
                                div(class="text")
                                    p Dr. Aly Yassien was graduated from faculty of Law  Cairo University at (1982-1983 ). Since then and after he has committed all his attitude to be more updated with the international laws and legal studies concerning important topics, so he sought to obtain post-graduate degrees as A Diploma of international commercial law “the mechanism of the WTO” (kings college – London University), Ph.D. at international arbitration commercial law ( Holborn college – London ), LLM degree in Maritime transport and logistics “Arab academy for science, technology, and maritime transport, a Predoctoral researcher in investment dispute settlement mechanism.
                                    a(data-bs-toggle='modal', data-bs-target='#teamModal' class="btn") read more 
    //team page

    //team page
    section(class="team")
        div(class="container")
            div(class="main-title")
                span(class="top-title") Yassien & Partners
                h2 Our of-Counsels
            div(class="content")
                div(class="row")
                    div(class="col-lg-3")
                        div(class="team-box")
                            div(class="image")
                                a(data-bs-toggle='modal', data-bs-target='#teamModal') 
                                    img(src="images/team/01.jpg", class="img-fluid" alt="")
                            div(class="details")
                                div(class="title")
                                    h3 Brayan Olson
                                    p Senior Associate (Corporate Department) 
                                div(class="social")
                                    a(href="") 
                                        i(class="bi bi-facebook") 
                                    a(href="") 
                                        i(class="bi bi-twitter") 
                                    a(href="") 
                                        i(class="bi bi-linkedin") 
                                    a(href="") 
                                        i(class="bi bi-instagram") 
                    div(class="col-lg-3")
                        div(class="team-box")
                            div(class="image")
                                a(href="") 
                                    img(src="images/team/02.jpg", class="img-fluid" alt="")
                            div(class="details")
                                div(class="title")
                                    h3 Brayan Olson
                                    p Admin Assistant & Office Manager
                                div(class="social")
                                    a(href="") 
                                        i(class="bi bi-facebook") 
                                    a(href="") 
                                        i(class="bi bi-twitter") 
                                    a(href="") 
                                        i(class="bi bi-linkedin") 
                                    a(href="") 
                                        i(class="bi bi-instagram") 
                    div(class="col-lg-3")
                        div(class="team-box")
                            div(class="image")
                                a(href="") 
                                    img(src="images/team/02.jpg", class="img-fluid" alt="")
                            div(class="details")
                                div(class="title")
                                    h3 Brayan Olson
                                    p Admin Assistant & Office Manager
                                div(class="social")
                                    a(href="") 
                                        i(class="bi bi-facebook") 
                                    a(href="") 
                                        i(class="bi bi-twitter") 
                                    a(href="") 
                                        i(class="bi bi-linkedin") 
                                    a(href="") 
                                        i(class="bi bi-instagram") 
                    div(class="col-lg-3")
                        div(class="team-box")
                            div(class="image")
                                a(href="") 
                                    img(src="images/team/un.png", class="img-fluid" alt="")
                            div(class="details")
                                div(class="title")
                                    h3 Brayan Olson
                                    p Admin Assistant & Office Manager
                                div(class="social")
                                    a(href="") 
                                        i(class="bi bi-facebook") 
                                    a(href="") 
                                        i(class="bi bi-twitter") 
                                    a(href="") 
                                        i(class="bi bi-linkedin") 
                                    a(href="") 
                                        i(class="bi bi-instagram") 
    //team page

    //team page
    section(class="team")
        div(class="container")
            div(class="main-title")
                span(class="top-title") Yassien & Partners
                h2 Our senior associates ​​
            div(class="content")
                div(class="row")
                    div(class="col-lg-3")
                        div(class="team-box")
                            div(class="image")
                                a(href="") 
                                    img(src="images/team/01.jpg", class="img-fluid" alt="")
                            div(class="details")
                                div(class="title")
                                    h3 Brayan Olson
                                    p Senior Associate (Corporate Department) 
                                div(class="social")
                                    a(href="") 
                                        i(class="bi bi-facebook") 
                                    a(href="") 
                                        i(class="bi bi-twitter") 
                                    a(href="") 
                                        i(class="bi bi-linkedin") 
                                    a(href="") 
                                        i(class="bi bi-instagram") 
                    div(class="col-lg-3")
                        div(class="team-box")
                            div(class="image")
                                a(href="") 
                                    img(src="images/team/02.jpg", class="img-fluid" alt="")
                            div(class="details")
                                div(class="title")
                                    h3 Brayan Olson
                                    p Admin Assistant & Office Manager
                                div(class="social")
                                    a(href="") 
                                        i(class="bi bi-facebook") 
                                    a(href="") 
                                        i(class="bi bi-twitter") 
                                    a(href="") 
                                        i(class="bi bi-linkedin") 
                                    a(href="") 
                                        i(class="bi bi-instagram") 
                    div(class="col-lg-3")
                        div(class="team-box")
                            div(class="image")
                                a(href="") 
                                    img(src="images/team/un.png", class="img-fluid" alt="")
                            div(class="details")
                                div(class="title")
                                    h3 Brayan Olson
                                    p Admin Assistant & Office Manager
                                div(class="social")
                                    a(href="") 
                                        i(class="bi bi-facebook") 
                                    a(href="") 
                                        i(class="bi bi-twitter") 
                                    a(href="") 
                                        i(class="bi bi-linkedin") 
                                    a(href="") 
                                        i(class="bi bi-instagram") 
                    div(class="col-lg-3")
                        div(class="team-box")
                            div(class="image")
                                a(href="") 
                                    img(src="images/team/02.jpg", class="img-fluid" alt="")
                            div(class="details")
                                div(class="title")
                                    h3 Brayan Olson
                                    p Admin Assistant & Office Manager
                                div(class="social")
                                    a(href="") 
                                        i(class="bi bi-facebook") 
                                    a(href="") 
                                        i(class="bi bi-twitter") 
                                    a(href="") 
                                        i(class="bi bi-linkedin") 
                                    a(href="") 
                                        i(class="bi bi-instagram") 
    //team page

    //modal
    div(class="modal fade", id="teamModal" tabindex="-1", aria-labelledby="teamModalFullscreenLabel", aria-modal="true", role="dialog")
        div(class="modal-dialog modal-fullscreen")
            div(class="modal-content")
                div(class="modal-header")
                    h5(class="modal-title h4") DR. ALI YASSIEN
                    button(type="button", class="btn-close", data-bs-dismiss="modal", aria-label="Close")
                div(class="modal-body")
                    section(class="team")
                        div(class="container")
                            div(class="content")
                                div(class="head-team-box")
                                    div(class="row")
                                        div(class="col-lg-5 p-0")
                                            div(class="image")
                                                img(src="images/team/head.jpg", class="img-fluid" alt="")
                                        div(class="col-lg-7 p-0")
                                            div(class="details")
                                                div(class="title")
                                                    h3 DR. ALI YASSIEN
                                                    span Founder & Chairman
                                                    p Former Judge & vice-president of the appellate court
                                                div(class="text")
                                                    p Dr. Aly Yassien was graduated from faculty of Law  Cairo University at (1982-1983 ). Since then and after he has committed all his attitude to be more updated with the international laws and legal studies concerning important topics, so he sought to obtain post-graduate degrees as A Diploma of international commercial law “the mechanism of the WTO” (kings college – London University), Ph.D. at international arbitration commercial law ( Holborn college – London ), LLM degree in Maritime transport and logistics “Arab academy for science, technology, and maritime transport, a Predoctoral researcher in investment dispute settlement mechanism.
                div(class="modal-footer")
                    button(type="button", class="btn btn-secondary", data-bs-dismiss="modal") Close
    //modal